<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Placard Generator</h1>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'vendor/jquery' %>
    <%= javascript_include_tag 'vendor/underscore' %>
    <%= javascript_include_tag 'vendor/backbone' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'models/meme' %>
    <%= javascript_include_tag 'views/meme-canvas' %>
    <%= javascript_include_tag 'views/meme-editor' %>
    <%= javascript_include_tag 'helpers/font-monitor' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
