<!doctype html>
<html lang='en' xml:lang='en'>
  <head>
  <title> 
  <%= partial "partials/head" %> 
  </title>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Meme Generator</h1>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
