<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="cf content">
      <%= partial "partials/svg" %>
      <%= partial "partials/editor" %>
    </div>
    <%= partial "partials/javascripts" %>
  </body>
</html>
