<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Meme Generator</h1>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
